<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Pressbooks Directory is the best place to find open educational resources (OER). Search over 2500 open textbooks and other free educational books."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (process.env.NODE_ENV === 'production') { %>
    <meta name="robots" content="index, follow" />
    <%  } else  { %>
    <meta name="robots" content="noindex, nofollow" />
    <% } %>
    <link rel="icon" href="/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
    <title>Pressbooks Directory</title>
</head>
<body class="antialiased font-sans bg-white text-gray-900" id="app">
<script type="module" src="/src/main.js"></script>
</body>
</html>
