.v-card {
  &__text div {
    font-family: $font-secondary;
    margin-bottom: .2rem;
    font-size: 1rem;
  }

  &__ma-1 {
    margin: 1em;
  }

  &__content {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    .network {
      font-family: $font-primary;
      text-transform: uppercase;
      color: $pb-blue;
      margin: .25rem 0 .625rem 1rem;
      font-size: 1rem;
    }
  }

  &__title {
    a {
      color: $pb-red;
    }
  }

  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  .v-card--item.description {
    display: inline;
  }
}

.v-application .ais-Hits__books {

  &-book {
    border-color: #aaaaaa !important;
    border-width: .0625rem;
    border-style: solid;
  }

  &--notcatalogue {
    border-left-color: $pb-red !important;
    border-left-width: 1rem;
  }

  &--allrights {
    background-color: $pb-light-background;
  }

  .book-cover, .copyright, .isBasedOn {
    margin-right: 1rem;
  }
  .book-cover {
    margin-top: -.5rem;
  }

  img {
    max-height: 1.75rem;
    margin-right: 2rem;
  }
}

.ais-Hits__books {
    &__container {
      margin-bottom: .625rem;
    }

    &__noresults {
      font-family: $font-secondary;
      color: $pb-blue;
    }

    &__recommended {
      width: 9rem;
      background: $pb-blue;
      position: absolute;
      text-align: center;
      line-height: 1.7rem;
      letter-spacing: .5px;
      color: #ffffff;
      z-index: 1;
      box-shadow: 0 0 3px rgba(0,0,0,.3);
      top: 25px;
      right: -31px;
      font-size: 0.83rem;
      left: auto;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      text-transform: uppercase;
      clip-path: polygon(20.5% 0%,82% 0%,84% 11%,100% 100%,70% 100%,30% 100%,2% 100%,0% 109%);
    }

   .language {
     font-family: $font-primary;
     text-transform: uppercase;
     font-size: 1.5rem;
    }

  .v-card__title {
    font-size: 2rem;
    color: $pb-red;
    text-decoration: underline;
    padding-top: 0;
    word-break: normal;
  }

  .v-card__text {
    line-height: 1.5;
  }
}