.ais {
  &-RangeInput {
    padding-left: .675rem;
  }

  &-SearchBox__text {
    font-size: 1.6rem;
    color: $pb-red;
    margin: .2rem 0 0 0;
  }

  &-Stats {
    float: right;
    text-align: right;
    display: inline-block;

    .container__results {
      color: $pb-red;
      font-weight: bold;

      &-hits {
        color: $pb-blue;
        font-style: italic;
        font-family: $font-secondary;
      }
    }
  }

  &-HitsPerPage, &-SortBy {
    float: right;
    clear: right;
    margin-top: .25rem;

    &-select {
      color: $pb-blue;
    }

    &--input {
      margin: 0;
      width: 11rem;
    }
  }

  &-ClearRefinements {
    &.all-filters {
      display: inline-block;
      margin-left: .5rem;
    }
    &-button {
      background-color: $pb-red;
    }
    .v-btn {
      background: $pb-light !important;

      &__content {
        font-family: $font-primary;
        color: $pb-red;
        width: 5rem;
      }

      &.v-btn--contained {
        border-width: 2px;
        border-style: solid;
        border-color: $pb-red !important;
        font-weight: bold;
        box-shadow: none;
      }
    }
  }

  &-CurrentRefinements {
    min-height: 2.5rem;

    &-item{
      margin: 0;
      padding: 0;
      background: transparent;
      display: inline-block;
    }

    &-list {
      padding: 0 !important;
    }
  }

  &-RefinementList {
    &-list {
      padding-left: 0 !important;
    }

    &-item {
      margin: 0;
      padding: 0;
      flex-wrap: wrap-reverse;

      &--selected .v-input {
          font-weight: bold;
        }
      }

    &-showMore {
      background-color: $pb-light;
      color: $pb-blue;
      margin: 0 0 .625rem 2.375rem;

      &:hover {
        background-color: $pb-light;
        color: $pb-blue;
      }

      &:active {
        background-color: $pb-light;
        color: $pb-blue;
      }

      &:focus {
        background-color: $pb-light;
        color: $pb-blue
      }
    }
  }
}

.theme--light.v-label {
  font-size: small;
  color: $pb-dark;
  margin: .3rem 0 .3rem .45rem;
  line-height: 0.6rem;
}

.v-list-item {
  &__title {
    color: $pb-blue;
    font-weight: bold !important;
    font-size: 1.1rem !important;
  }
  &__action {
    margin: 0;
  }
  &__content {
    &--filtered {
      font-weight: bold;
    }
  }
}

.filters {
  padding: .5rem;

  &__head {
    font-weight: bold;
    padding-left: .5rem;
    display: inline-block;

    &--red {
      color: $pb-red;
    }
  }

  &__stats {
    display: block;

    &-algolia-logo {
      background-image: url($algolia-logo);
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      height: 1rem;
      margin-top: .5rem;
      background-position: right;
    }
  }

  .v-chip {
    margin: .7rem .5rem .2rem .5rem;
    background: $pb-blue !important;
    color: $pb-light;

    &--not {
      background: $pb-red !important;
    }

    .mdi-close-circle::before {
      color: $pb-light;
    }
  }
}

.v-input {
  font-weight: normal;
}

.theme--light.v-btn.v-btn--icon.include {
  color: $pb-blue;
}

.theme--light.v-btn.v-btn--icon.exclude {
  color: $pb-red;
}

.include.selected {
  background-color: $pb-blue;
}

.exclude.selected {
  background-color: $pb-red;
}

.theme--light.v-btn.v-btn--disabled.selected .v-icon, .theme--light.v-btn.v-btn--disabled .v-btn__loading{
  color: white !important;
}

.v-input__slot {
  margin-top: 0.2rem;
}