@font-face {
  font-family: 'Karmilla';
  src: url(../../assets/fonts/karmilla-regular-webfont.woff) format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Karmilla';
  src: url(../../assets/fonts/karmilla-bold-webfont.woff) format('woff');
  font-style: normal;
  font-weight: bold;
}
