.v-application {
  &--wrap {
    background: #eeeeee;

    .v-toolbar {
      &__content {
        justify-content: space-between;

        .logo {
          display: inline-block;
          max-width: 10rem;
        }

        .v-btn__content {
          ::before {
            color: $pb-light-blue;
          }
        }
      }
    }
  }

  .welcome-header {
    border-radius: 5px;
    background: $pb-light;
    font-weight: normal;
    font-size: 1rem;
    width: 100%;
    padding: 1rem 2.875rem;

    h1 {
      font-family: $font-primary;
      font-size: 3.25rem;
      font-weight: bold;
      color: $pb-red;
      margin-bottom: .75rem;
    }

    p {
      font: 1.125rem $font-secondary;
      color: $pb-blue;
      margin-bottom: 1.5rem;

      a {
        color: $pb-red;
      }
    }

    .searchbox {
      width: 100%;

      h2 {
        display: inline-block;
        float: left;
        text-transform: uppercase;
      }

      .v-input__prepend-outer {
        margin: .625rem .125rem 0 .5rem ;
      }

    }
  }

  &--is-ltr .v-list--dense .v-list-group--sub-group .v-list-group__header, &--is-ltr .v-list-group--sub-group .v-list-group__items .v-list-item {
    padding-left: 1rem;
  }

  &--is-ltr .v-list-group--sub-group .v-list-item__icon:first-child {
    margin-right: .375rem;
  }
}

.v-text-field {
  padding: 0;
  margin: 0;
}

.v-list-group::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #e6e6e6;
  width: 100%;
  margin: .25rem 1rem;
}

.ais-Pagination {
  .ais-Pagination-item--selected .ais-Pagination-link {
    background-color: $pb-red;
    border-color: $pb-red;
    color: white;
  }
  .ais-Breadcrumb-link, .ais-HierarchicalMenu-link, .ais-Menu-link, .ais-Pagination-link, .ais-RatingMenu-link {
    color: $pb-red;
  }
}