@import 'variables'

.v-card__subtitle--item
  color: #b01109
  font-family: "Spectral"
.v-card__ma-1
  margin: 1em
.headerwelcome_content
  max-width: 50vw
.headerwelcome_red-font-pressbooks
  color: #b01109
.headerwelcome_spectral-front
  font-family: "Spectral"
  color: #015d75
.search-panel__filters .v-list-item__title
  color: #015d75
  font-weight: bold !important
  font-size: 1.1em !important
.ais-Stats .container__results
  color: #b01109
  font-weight: bold
.ais-Stats .container__results_hits
  color: #015d75
  font-style: italic
  font-family: "Spectral"
.theme--light.v-label
  font-size: small
  color: black
  margin-left: 7px
.v-list-item__action
  margin: 0
.ais-RefinementList-item .v-list-item
  padding: 0
.ais-Hits__books .v-card__title
  color: #b01109
  text-decoration: underline
  padding-top: 0px
.v-application .ais-Hits__books .ais-Hits__books--border
  border-color: #aaaaaa #aaaaaa #aaaaaa #aaaaaa !important
  border-width: 1px 1px 1px 1px
  border-style: solid
.ais-Hits__books .v-avatar__details
  font-family: "Karla"
.ais-Hits__books .v-avatar__details--language
  text-transform: uppercase
  font-size: 1.1em
  top: 2px
.ais-Hits__books .v-avatar__details--b4
  bottom: 4px
.ais-Hits__books .v-avatar__details--t2
  top: 2px
.v-application .ais-Hits__books .ais-Hits__books--redborder
  border-color: #aaaaaa #aaaaaa #aaaaaa #b01109 !important
  border-width: 1px 1px 1px 15px
  border-style: solid
.v-application .ais-Hits__books .ais-Hits__books--redbackground
  background-color: #FFCDD2
.v-card__content--w80
  width: 80%
.ais-RefinementList-item--selected
  font-weight: bold
.ais-CurrentRefinements-item
  background-color: white
  margin: 0
  padding: 0
.ais-ClearRefinements .v-btn__content
  font-family: "Karla"
  color: #b01109
.ais-ClearRefinements .v-btn.v-btn--contained
  border-width: 2px
  border-style: solid
  border-color: #b01109 !important
  font-weight: bold
  margin-left: 40px
.v-card__content--network
  font-family: 'Karla'
  text-transform: uppercase
  color: #015d75
  margin: 13px 0px 5px 15px
  font-size: 0.9rem
.ais-RefinementList-showMore
  background-color: white
  color: #015d75
  margin: 0px 0px 10px 50px
.ais-RefinementList-showMore:hover
  background-color: white
  color: #015d75
.ais-RefinementList-showMore:active
  background-color: white
  color: #015d75
.ais-RefinementList-showMore:focus
  background-color: white
  color: #015d75

