@import "../../node_modules/intro.js/introjs.css";
.introjs {
  &-tooltip {
    @apply p-8 rounded-lg relative;
    @media (min-width: 768px) {
      min-width: 450px;
      max-width: 600px;
    }
  }
  &-tooltip-header {
    @apply font-headings mx-auto;
  }
  &-tooltip-title {
    @apply font-headings text-center float-none text-3xl;
  }
  &-tooltiptext {
    @apply font-pbBold;

    p {
      @apply font-pbBold;
      margin-bottom: 1rem;
    }

    a {
      @apply text-red-800;
    }
  }

  &-tooltipbuttons{
    @apply border-0;
  }

  &-button {
    @apply bg-transparent border-0;
  }

  &-progressbar {
     @apply bg-red-800;
  }

  &-skipbutton{
    @apply absolute right-2 top-2 float-none text-red-800 text-4xl;
  }

}