$body-font-family: 'Karla', sans-serif;

$font-primary: $body-font-family;
$font-secondary: 'Spectral', serif;

$pb-blue: #00342A;
$pb-red: #bb2026;
$pb-light: #ffffff;
$pb-dark: #000000;
$pb-light-blue: #18b8d6;
$pb-light-background: #f0f9fa;

$algolia-logo: '/assets/images/algolia-logo.png';